APP_NAME=Open R Platform API
APP_VERSION=0.1.0
APP_ENV=development
APP_DEBUG=true
DATABASE_DRIVER=postgresql+psycopg
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=rflowstudio
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
R_ANALYSIS_SERVICE_URL=http://127.0.0.1:8090
R_ANALYSIS_TIMEOUT_SECONDS=30
